
html, body {
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fff;
  position: relative;
}

svg#world {
  background-color: #ccc;
  width: 500px;
  height: 500px;
  margin: 15px;
}

path[d] {
  stroke: #000;
  stroke-width: 5px;
  fill: transparent;
}
line {
  stroke: #808;
  stroke-width: 2px;
}
